@charset "utf-8";
body {
    background-color: #04244F;
    color: white;
    margin: 10px;
    padding: 10px;
}

a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 36px;
    width: 200px;
    height: 20px;
    border: 2px solid #22D4FD;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    margin: 5px;
}

nav {
    background-color: #22d5fd46;
    margin: -20px;
    padding: 0;
    display: block;
}

.cabeçalho_sobre {
    display: inline-block;
    text-align: center;
    width: 150px;
    text-decoration: none;
    overflow: hidden;
    border-radius: none;
    border: none;
    font-size: 20px;
}

a:hover {
    background-color: #22D4FD;
    transition: 1s;
}

.imagem_projetos {
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
    width: 500px;
    border-radius: 5%;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

div {
    display: flex;
    flex-direction: row;
}

@media (max-width:2688px) and (min-width:379px) {
    header,
    nav {
        width: 100vw;
    }
    .paragrafo_projetos {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 75%;
        display: none;
    }
    .imagem_projetos {
        width: 40%;
    }
}